description = "Main librarium layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{this.page.title}}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="WebAnt LTD">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Стили -->
        <link href="{{ 'assets/css/main.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>
        <!-- Шапка -->
        <header id="layout__header">
            {% partial 'site/header' %}
        </header>

        <!-- Страница -->
        <section id="layout__content">
            {% page %}
        </section>

        <!-- Подвал -->
        <footer id="layout__footer">
            {% partial 'site/footer' %}
        </footer>

        <!-- Скрипты -->
        {% scripts %}
    </body>
</html>